# AWS Configuration
AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=eu-west-3
S3_BUCKET=YOUR_S3_BUCKET_NAME
S3_KEY_RAW=data/raw/
S3_KEY_PROCESSED=data/processed/

# Database
NEON_DB_URL=postgresql+psycopg2://USERNAME:PASSWORD@HOSTNAME/DATABASE_NAME