# Environment
.env
!.env.example

# Data files
data/raw/
screenshots

# Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Outputs
outputs/

# System
Thumbs.db
*.log
.DS_Store